#keys-container {
  max-width: 800px;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 2px;
  background-color: black;
}

.key {
  aspect-ratio: 1.2;
  touch-action: none;
  user-select: none;
  color: white;
}

body {
  touch-action: none;
  background-color: black;
}